services:
  - type: web
    name: employee-duty-backend
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        generateValue: true
      - key: JWT_SECRET
        generateValue: true